table {
	background-color: rgba(14, 38, 109, 0);
	color: rgb(43, 81, 193);
	margin: auto;
	margin-top: 30px;
	width: 70%;
	height: 60vh;
	border: none;
}
td{
	color: rgb(0, 0, 0);
	text-transform: capitalize;
}
th{
	color: rgb(255, 255, 255);
	text-transform: capitalize;
	background-color: rgb(102, 5, 5);
}
body {
	text-align: center;
	background-image: url("img/c.webp");
  background-size: cover;
	text-transform: capitalize;
}
h1 {
	color: rgb(145, 15, 15);
	text-align: center;
	/* background-color: rgb(102, 5, 5); */
	border-radius: 50px;
	padding: 10px;
	width: 50%;
	margin: auto;
	font-weight: bolder;
	font-size: 35px;
}
a:hover{
	color: rgb(5, 117, 5);
}
#pagebtn{
	color:white; background-color: rgb(102, 5, 5); font-size:20px; padding:2px 14px;
	margin-left: 41%; border-radius:10px;
}
#pgbtn{
	border: none;
}
 #btndivv{
	border:2px ; width:10%; margin-top: 50px; margin-right: 90px; float: right;
	margin-top:16px;
} 